body{
    background-color: black;
}
.list{
    background-color: white;
    font-size: x-large;
}
#tit{
    color: blue;
    font-size: xx-large;
}
.list li a{
    
    color: blue;
}
.list li a:hover{
    color: red;
}
#container{
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 30px;
}